#news{
    margin-right: 20px;
    padding-right: 20px;
    border: solid 0px white;
    font-size: 20px;
}
a.link:hover {color: #FF0000;}
.link1{
    margin-right: 20px;
    padding-right: 20px;
    border: solid 1px white;
    font-size: 20px;
}
a.link1:hover {color: #FF0000;}
.link2{
    margin-right: 20px;
    padding-right: 20px;
    border: solid 10px white;
    font-size: 20px;
}
a.link2:hover {color: #FF0000;}
.link3{
    margin-right: 20px;
    padding-right: 20px;
    border: solid 10px white;
    font-size: 20px;
}
a.link3:hover {color: #FF0000;}
.link4{
    font-size: 20px;
}
a.link4:hover {color: #FF0000;}
